@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
html {
  color:black;
  background-color: blanchedalmond;
  font-family: muli;
}
header {
  font-size: 3rem;
  text-align: center;
  font-style: italic;
  text-decoration: underline 5px darkred;
}

main {
  margin: 25px 10px;
}
h2 {
  display: inline;
  margin-left: 125px;
  position:sticky;
  color:darkblue;
}
.Seattle {
  margin-left: 125px;
}
.Tokyo {
  margin-left: 160px;
}
.Dubai {
  margin-left: 200px;
}
.Paris {
  margin-left: 200px;
}
.Lima {
  margin-left: 200px;
}

li {
  border: 5px black solid;
  overflow:hidden;
  /* border-bottom: none; */
}
li:nth-child(2n + 1) {
  color: blue;
}

ul {
  column-count: 5;
  overflow:hidden;
}

img {
  height:200px;
  width: 550px;
  float: right;
}
footer {
  text-align: left;
  width: 550px;
  height: auto;
  color:blue;
}